.notion-comments {
  width: 100%;

  h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .items {
    .item {
      .profile {
        display: flex;
        align-items: center;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: block;
          object-fit: cover;
          object-position: center;
          margin-right: 10px;
        }

        .name {
          font-weight: bold;
          font-size: 1rem;
        }

        .createdAt {
          display: inline-block;
          margin-left: 10px;
          opacity: 0.6;
          font-size: 1rem;
        }
      }

      .content {
        padding-left: 40px;
        font-size: 0.95rem;
        line-height: 1.25;
      }
    }
  }
}
