@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import './vars.scss';
@import './notion-blocks.scss';

@media only screen and (max-width: 920px) {
  :root {
    --notion-page-left-right-padding: 5vw;
    --notion-page-fullwith-left-right-padding: 5vw;
  }
}

@media only screen and (max-width: 720px) {
  :root {
    --base-font-size: 0.95rem;
  }
}

.dark-mode {
  background-color: var(--bg-color);

  .notion-header {
    .breadcrumb {
      text-shadow: 0 0 3px black;
    }
  }

  .notion-search {
    color: var(--fg-color);
    caret-color: var(--fg-color);
    background-color: var(--bg-color-1);

    input {
      color: var(--fg-color);
      caret-color: var(--fg-color);
      background-color: transparent;

      &::placeholder {
        color: var(--fg-color-5);
      }
    }

    .noResults {
      color: var(--fg-color-5);
    }

    .noResultsDetail {
      color: var(--fg-color-5);
      opacity: 0.6;
    }
  }
}

body {
  font-size: 16px;
  transition-duration: 250ms;
  transition-property: background-color, color;

  .notion {
    font-size: var(--base-font-size);
    transition-duration: 250ms;
    transition-property: background-color, color;
  }

  .notion-page {
    padding-left: var(--notion-page-left-right-padding);
    padding-right: var(--notion-page-left-right-padding);
  }

  .notion-full-width {
    padding-left: var(--notion-page-fullwith-left-right-padding);
    padding-right: var(--notion-page-fullwith-left-right-padding);
  }

  .notion-header {
    position: fixed;
    transition-duration: 250ms;
    transition-property: background-color, color;
  }

  // page main image
  .notion-page-cover-wrapper,
  .notion-page-cover-wrapper span,
  .notion-page-cover-wrapper img {
    max-width: 100% !important;
    border-radius: 0;
    height: calc(30vh + var(--notion-header-height)) !important;
    min-height: calc(30vh + var(--notion-header-height)) !important;
    max-height: calc(30vh + var(--notion-header-height)) !important;
  }

  .notion-page-icon-hero {
    margin-left: 0 !important;
    left: var(--notion-page-left-right-padding);
  }

  .notion-page-no-cover {
    margin-top: 130px !important;
  }

  // full width page
  .notion-full-width {
    .notion-title {
      text-align: left;
    }

    .notion-page-icon-hero {
      left: var(--notion-fullwith-page-left-right-padding);
    }
  }

  // 목차 스타일
  .notion-aside-table-of-contents {
    background-color: transparent !important;

    .notion-table-of-contents-item {
      position: relative;
      overflow: visible;
      padding-left: 1rem;
      margin: 0;
      opacity: 1;

      &::before {
        content: '';
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-left: 1px solid var(--fg-color);
        z-index: 1;
        opacity: 0.2;
      }

      .notion-table-of-contents-item-body {
        max-width: 16rem;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: 250ms opacity;
        color: var(--fg-color) !important;
        opacity: 0.7;
      }

      &:hover {
        background-color: transparent;
      }

      .activeLine {
        position: absolute;
        background-color: var(--primary-color);
        width: 1px;
        height: 100%;
        left: 0;
        z-index: 2;
      }
    }

    .notion-table-of-contents-active-item {
      .notion-table-of-contents-item-body {
        opacity: 1;
      }
    }
  }

  // main page style
  .indexPage {
    .notion-header {
      display: none;
    }
  }

  // no main page style
  .childPage {
    .notion-page-icon-hero.notion-page-icon-image span,
    .notion-page-icon-hero.notion-page-icon-image img {
      border-radius: 0;
    }

    .notion-page-icon-hero.notion-page-icon-image {
      box-shadow: none;
      border-radius: 0;
    }
  }

  // main page - right top fixed button
  .fixedDarkMode {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 999;

    .button {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      color: var(--fg-color);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background 120ms;

      &:hover {
        background-color: var(--bg-color-0);
      }
    }
  }
}
