/**
 * title
 */
.notion-title {
  text-align: left;
  font-size: 2em;
}

/**
 * h1
 */
.notion-h1 {
  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 4rem;
    background-color: var(--fg-color);
    margin-top: 0.5rem;
    border-radius: 5px;
  }
}

/**
 * text
 */
.notion-text {
  padding: 0.2em 2px;
}

/**
 * hr
 */
.notion-hr {
  margin: 6px 0;
}

/**
 * callout
 */
.notion-callout {
  border-radius: 8px;

  .notion-page-icon-inline {
    align-self: center;
  }

  &.warning {
    background-color: var(--notion-yellow_background);
    border-color: var(--notion-yellow);
  }
}

/**
 * quote
 */
.notion-quote {
  font-style: normal;
  font-size: var(--base-font-size);
  border-color: var(--primary-color);
  padding: 1rem 1rem 1rem 2rem;
  position: relative;
  background-color: var(--fg-color-lighten);
  transition: 250ms background-color;
}

/**
 * user profile
 */
.notion-user-container {
  display: flex;
  align-items: center;

  .notion-user {
    margin-right: 0.3rem;
  }
}

/**
 * checkbox
 */
.notion-property-checkbox-unchecked {
  border-radius: 2px;
}
.notion-property-checkbox-checked {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 10px;
    height: 10px;
    top: initial;
    left: initial;
  }
}

/**
 * file icon
 */
.notion-file-icon {
  fill: var(--fg-color);
}

/**
 * page link title text
 */
.notion-page-title-text {
  border-bottom: none;
}

/**
 * link
 */
.notion-link:focus,
.notion-link:hover {
  border-bottom-color: transparent;

  background-image: linear-gradient(
    90.68deg,
    var(--primary-color) 0.26%,
    var(--primary-gradient-end-color) 102.37%
  );
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0.1rem;

  transition-property: background-position, background-size;
  transition-duration: 300ms;
}

/**
 * bookmark
 */
.notion-bookmark {
  transition: 250ms border-color;

  &:hover {
    border-color: var(--primary-color);
  }

  .notion-bookmark-link-icon img {
    display: block;
  }
}

/**
 * property styles
 */
.notion-collection-page-properties {
  .notion-collection-row {
    margin-bottom: 5rem;
    border-bottom: none;
    padding-bottom: 0;
    padding: 0;
  }

  .notion-collection-row-body {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0;
  }

  .notion-collection-row-property {
    + .notion-collection-row-property {
      &::before {
        content: '';
        width: 1px;
        height: 10px;
        background-color: var(--fg-color);
        opacity: 0.35;
        margin: 0 0.5rem;
      }
    }
  }

  .notion-collection-row-value {
    min-height: auto;
  }

  .notion-property-select-item,
  .notion-property-multi_select-item {
    background-color: transparent !important;
    padding: 0;
  }

  .notion-property-multi_select-item {
    opacity: 0.7;

    &::before {
      content: '#';
    }
  }
}

.notion-contentPosition {
  .item {
    display: block;
    text-align: right;
    position: relative;
    padding: 0.3rem 1.3rem 0.3rem 1rem;

    .text {
      opacity: 0.5;
      font-size: 0.9rem;
      line-height: 1;
      transition: 250ms opacity;
    }

    &.level1 {
      padding-right: calc(1.3rem + 1rem);

      .text {
        font-size: 0.85rem;
      }
    }

    &.level2 {
      padding-right: calc(1.3rem + 2rem);

      .text {
        font-size: 0.8rem;
      }
    }

    &.active {
      .text {
        opacity: 1;
      }
    }

    &::before {
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      border-right: 1px solid var(--fg-color);
      z-index: 1;
      opacity: 0.2;
    }

    .activeLine {
      position: absolute;
      background-color: var(--primary-color);
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 2;

      // &::before {
      //   content: '';
      //   position: absolute;
      //   width: 5px;
      //   height: 5px;
      //   border-radius: 50%;
      //   background-color: var(--primary-color);
      //   right: 0.5rem;
      //   top: 50%;
      //   transform: translateY(-50%);
      // }
    }
  }
}

.notion-collection {
  .notion-collection-header-title {
    font-family: 'AppleSDGothicNeo';
  }
}

.postList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;

  > a {
    background-color: var(--notion-card-background-color);
    box-shadow: 10px 20px 20px 0 rgb(92 95 112 / 8%);
    width: calc(25% - 30px * 3 / 4);
    margin-bottom: 30px;
    transition: 250ms transform, 250ms background-color;

    &:hover {
      transform: translateY(-8px);
    }

    @media (min-width: 1431px) {
      &:not(:nth-child(4n)) {
        margin-right: calc(30px);
      }
    }

    @media (max-width: 1430px) and (min-width: 1051px) {
      width: calc(33.33% - (30px * 2) / 3);

      &:not(:nth-child(3n)) {
        margin-right: calc(30px);
      }
    }

    @media (max-width: 1050px) and (min-width: 761px) {
      width: calc(50% - 30px / 2);

      &:not(:nth-child(2n)) {
        margin-right: calc(30px);
      }
    }

    @media (max-width: 760px) {
      width: 100%;
    }

    .notion-collection-card-cover {
      border-radius: 0;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      box-shadow: none;

      img {
        border-radius: 0;
      }
    }

    .notion-collection-card-property {
      padding: 0;
    }

    .notion-property-select-item {
      margin-bottom: 0.3rem;
    }

    .notion-property-multi_select-item {
      &::before {
        content: '#';
      }
    }

    .notion-collection-card-body {
      display: block;
      padding: 1rem 1.3rem 1rem;

      .notion-page-icon-image {
        display: none;
      }

      .notion-page-title-text {
        font-size: 1rem;
        font-family: 'AppleSDGothicNeo';
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      .notion-property-title {
        width: 100%;
        display: block;
      }

      .notion-property-select {
        margin-right: 6px;
      }

      .notion-collection-card-property:last-child {
        overflow: initial;

        .notion-property-created_time {
          display: block;
          width: calc(100% + 1.3rem * 2);
          margin-left: -1.3rem;
          padding-left: 1.3rem;
          padding-top: 1rem;
          margin-top: 0.9rem;
          border-top: 1px solid var(--line-color);
          display: block;
          opacity: 0.7;
          line-height: 1;
        }
      }

      .notion-collection-card-property:nth-child(2) {
        height: 85px;

        .notion-property-text {
          width: 100%;
          white-space: initial;
          color: #7a7c85;
          font-size: 13px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
