/**
 * title
 */
.notion-title {
  text-align: left;
  font-size: 2em;
}

/**
 * h1
 */
.notion-h1 {
  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 4rem;
    background-color: var(--fg-color);
    margin-top: 0.5rem;
    border-radius: 5px;
  }
}

/**
 * text
 */
.notion-text {
  padding: 0.2em 2px;
}

/**
 * hr
 */
.notion-hr {
  margin: 6px 0;
}

/**
 * callout
 */
.notion-callout {
  border-radius: 8px;

  .notion-page-icon-inline {
    align-self: center;
  }

  &.warning {
    background-color: var(--notion-yellow_background);
    border-color: var(--notion-yellow);
  }
}

/**
 * quote
 */
.notion-quote {
  font-style: normal;
  font-size: var(--base-font-size);
  border-color: var(--primary-color);
  padding: 1rem 1rem 1rem 2rem;
  position: relative;
  background-color: var(--fg-color-lighten);
}

/**
 * user profile
 */
.notion-user-container {
  display: flex;
  align-items: center;

  .notion-user {
    margin-right: 0.3rem;
  }
}

/**
 * checkbox
 */
.notion-property-checkbox-unchecked {
  border-radius: 2px;
}
.notion-property-checkbox-checked {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 10px;
    height: 10px;
    top: initial;
    left: initial;
  }
}

/**
 * file icon
 */
.notion-file-icon {
  fill: var(--fg-color);
}

/**
 * page link title text
 */
.notion-page-title-text {
  border-bottom: none;
}

/**
 * link
 */
.notion-link:focus,
.notion-link:hover {
  border-bottom-color: transparent;

  background-image: linear-gradient(
    90.68deg,
    var(--primary-color) 0.26%,
    var(--primary-gradient-end-color) 102.37%
  );
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0.1rem;

  transition-property: background-position, background-size;
  transition-duration: 300ms;
}

/**
 * bookmark
 */
.notion-bookmark {
  transition: 250ms border-color;

  &:hover {
    border-color: var(--primary-color);
  }

  .notion-bookmark-link-icon img {
    display: block;
  }
}
