@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('./AppleSDGothicNeoR.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('./AppleSDGothicNeoB.woff2');
  font-weight: 600;
}
