.dark-mode {
  --bg-color: #1a1b1e;

  .notion-search {
    color: var(--fg-color);
    caret-color: var(--fg-color);
    background-color: var(--bg-color-1);

    input {
      color: var(--fg-color);
      caret-color: var(--fg-color);
      background-color: transparent;

      &::placeholder {
        color: var(--fg-color-5);
      }
    }

    .noResults {
      color: var(--fg-color-5);
    }

    .noResultsDetail {
      color: var(--fg-color-5);
      opacity: 0.6;
    }
  }
}

body {
  .fixedDarkMode {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 999;

    .button {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      color: var(--fg-color);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background 120ms;

      &:hover {
        background-color: var(--bg-color-0);
      }
    }
  }

  &.dark-mode {
    background-color: var(--bg-color);
  }

  .notion-header {
    position: fixed;
  }

  .notion-page-cover-wrapper,
  .notion-page-cover-wrapper span,
  .notion-page-cover-wrapper img {
    max-width: 100% !important;
    border-radius: 0;
    height: calc(30vh + var(--notion-header-height)) !important;
    min-height: calc(30vh + var(--notion-header-height)) !important;
    max-height: calc(30vh + var(--notion-header-height)) !important;
  }

  .notion-title {
    text-align: left;
    font-size: 2em;
  }

  .notion-page-icon-hero {
    margin-left: 0 !important;
    left: calc(min(16px, 8vw));
  }

  .notion-text {
    padding: 0.2em 2px;
  }

  .notion-hr {
    margin: 6px 0;
  }

  .notion-page-no-cover {
    margin-top: 130px !important;
  }

  .notion-full-width {
    .notion-title {
      text-align: left;
    }

    .notion-page-icon-hero {
      left: calc(min(96px, 8vw));
    }
  }

  // profile
  .notion-user-container {
    display: flex;
    align-items: center;

    .notion-user {
      margin-right: 0.3rem;
    }
  }

  // notion property styles
  .notion-collection-page-properties {
    .notion-collection-row {
      margin-bottom: 5rem;
      border-bottom: none;
      padding-bottom: 0;
      padding: 0;
    }

    .notion-collection-row-body {
      flex-direction: row;
    }

    .notion-collection-row-property {
      + .notion-collection-row-property {
        &::before {
          content: '';
          width: 1px;
          height: 10px;
          background-color: var(--fg-color-2);
          margin: 0 0.5rem;
        }
      }
    }

    .notion-collection-row-value {
      min-height: auto;
    }

    .notion-property-select-item,
    .notion-property-multi_select-item {
      background-color: transparent !important;
      padding: 0;
    }

    .notion-property-multi_select-item {
      opacity: 0.7;

      &::before {
        content: '#';
      }
    }
  }

  // 목차 스타일
  .notion-aside-table-of-contents {
    .notion-table-of-contents-item {
      position: relative;
      overflow: visible;
      padding-left: 1rem;
      margin: 0;
      opacity: 1;

      &::before {
        content: '';
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-left: 1px solid var(--fg-color);
        z-index: 1;
        opacity: 0.2;
      }

      .notion-table-of-contents-item-body {
        max-width: 16rem;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: 250ms opacity;
        color: var(--fg-color) !important;
        opacity: 0.7;
      }

      &:hover {
        background-color: transparent;
      }

      .activeLine {
        position: absolute;
        background-color: #505de6;
        width: 1px;
        height: 100%;
        left: 0;
        z-index: 2;
      }
    }

    .notion-table-of-contents-active-item {
      .notion-table-of-contents-item-body {
        opacity: 1;
      }
    }
  }

  // callout
  .notion-callout {
    border-radius: 8px;

    &.warning {
      background-color: var(--notion-yellow_background);
      border-color: var(--notion-yellow);
    }
  }

  .indexPage {
    .notion-header {
      display: none;
    }
  }

  .childPage {
    .notion-page-icon-hero.notion-page-icon-image span,
    .notion-page-icon-hero.notion-page-icon-image img {
      border-radius: 0;
    }

    .notion-page-icon-hero.notion-page-icon-image {
      box-shadow: none;
      border-radius: 0;
    }
  }
}
